/* 
  Nama : Dennie Fuzi Alviyanies
  Kelas : IF10
  NIM   : 10120918
*/

/* Font Google - strong reaload time */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,700,900&subset=latin,latin-ext);



html, body{
  font-family: 'Lato', sans-serif;
  font-size:15px;
  -webkit-font-smoothing: subpixel-antialiased!important;
  color:black;
  font-weight:400;
  height:100%;
}

a{
  text-decoration:none;
  outline:none;
  font-size:14px;
}

h1{
  font-size:34px;
  color:white;
  font-weight:400;
  text-transform:uppercase;
  letter-spacing:6px;
  line-height:1.2;
}

p{
  font-size:14px;
  color:white;
  font-weight:300;
  letter-spacing:1px;
  margin-top:40px;
}


h1 span{
  color:#2fa68e;
}


::selection {
  background: #ada074;
  color:white;
}

::-moz-selection {
  background: #ada074;
  color:white;
}


.container{
  position:absolute;
  width:100%;
  height:100%;
}






/* Start page */

.start-page{
  position:relative;
  width:100%;
  height:100%;
  z-index:10;
  background: #011235;
  background-image:url(../img/img.png);
  background-size: cover;
}

.start-page hr{
  color: white;
  margin-top:30px;
  background-color: white;
  height: 1px;
  width:106px;
  border:0;

}

.start-page .opacity{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(51,51,51,0.5); /* Standard Off */
}


.start-page .content{
  position:relative;
  width:700px;
  margin:0 auto;
  height:100%;
}

.start-page .content .text{
  position:absolute;
  text-align:center;
  margin:auto;
  top:-167px; 
  left:0; 
  bottom:0; 
  right:0;
  width:700px;
  height:520px;
}

.start-page .content .text .logo{
  width:123px;
  height:123px;
  margin:0 auto 50px;
  
}


.start-page .content .text .read-more{
  width:183px;
  height:47px;
  margin:68px auto;
  line-height:47px;
  border:1px solid white;
  text-transform:uppercase;
  color:white;
  display:block;
  cursor:pointer;
  font-size:14px;
  letter-spacing:1px;
  background:none;
  -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}

.start-page .content .text .read-more:hover{
  color:white;
  background: #ada074;
  border:1px solid #ada074;
}

.start-page .content .arrow-down{
  position: absolute;
  bottom: 110px;
  left: 50%;
  margin-left: -10px;
  width: 21px;
  height: 29px;
  background: url(../img/arrow-down.png) no-repeat center center;
  display: block;
  -webkit-animation: bounce-fade 1.2s infinite; /* Safari 4+ */
  -moz-animation:    bounce-fade 1.2s infinite; /* Fx 5+ */
  -o-animation:      bounce-fade 1.2s infinite; /* Opera 12+ */
   animation:        bounce-fade 1.2s infinite; /* IE 10+ */
}


@-webkit-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}
@-moz-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}
@-o-keyframes bounce-fade {
    0%   { opacity: 0; bottom:70px; }
    100% { opacity: 1; bottom: 35px; }
}
@keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}


/* Menu mobile */

.menu-media{
  position:relative;
  width:100%;
  height:90px;
  background:#ada074;
  z-index:1000;
  display:none;
}

.menu-media .menu-content{
  width:280px;
  position:relative;
  margin:0 auto;
  
}

.menu-media .menu-content .logo {
   color:white;
   font-weight:700;
   font-size:24px;
   width:200px;
   line-height:90px;
   float:left;
   list-style: none;
}

.menu-media .menu-content .icon{
  width:41px;
  height:23px;
  float:right;
  line-height:100px;
}

.menu-click{
  display:none;
}


.menu-click li {
  position:relative;
  width:100%;
  height:70px;
  color:#333333;
  font-size:18px;
  text-align:center;
  line-height:70px;
  z-index:1000;
  border-bottom:1px solid #f2f2f2;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
 }

.menu-click li:hover {
  color:#ada074;
 }


/* Menu */

.menu{
  position:relative;
  width:100%;
  height:60px;
  background:white;
  border-bottom:1px solid #f2f2f2;
  z-index:1000;
}

.menu-content{
  width:900px;
  position:relative;
  margin:0 auto;
}

.menu-content .logo {
   color:#333;
   font-weight:700;
   font-size:24px;
   width:300px;
   line-height:60px;
   float:left;
   list-style: none;
 }

.menu-content ul{

  width:600px;
  left:50%;
  float:right;
  text-align:right;
  list-style:none;
}

.menu-content li{
   display:inline-block;
   position:relative;
}

.menu-content li a{
  color:#333;
  font-size:16px;
  display: block;
  padding: 0 20px 0 20px;
  line-height:60px;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.menu-content li.active a{
  color:#ada074;
}

.menu-content li a:hover{
  color:#ada074;
}


/* About us */

.about-us{
  display: flex;
  width:100%;
  background-size: cover;
  height: 85vh;
  margin-top: 0px;
  z-index:10;
}

.about-us .gambar{
  display: flex;
  justify-content: center;
  width: 50%;
  padding-top:100px;

}

.about-us .gambar img {
  width: 57%;
  height: 100%;

}
.about-us .content{
  position:relative;
  width:50%;
  align-items: center;
  text-align: center;
  margin-right: 17% ;
  overflow: hidden;
}

.about-us h1{
  font-size:34px;
  color:black;
  text-align:center;
  margin-top:160px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #94949c;
  outline: solid  2px #94949c;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}


.effect04:hover{
  background-color: #94949c;
}


.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}


.effect04::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}


.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}

.about-us hr{
  color: black;
  margin-top:30px;
  background-color: black;
  height: 1px;
  width:106px;
  border:0;
}

.about-us p.title{
  color: #a4a4a4;
  margin:40px auto;
  width:600px;
  line-height:26px;
  letter-spacing:0;
  font-size:20px;
  font-weight:300;
  text-align:justify;
}

.about-us h2{
  text-align:center;
  margin-top:50px;
  font: size 16px;
  color:black;
  line-height:1.2;
  letter-spacing:6px;
  width:100%;
  position:relative;
  font-weight:400;
}

.about-us p{
  text-align:center;
  font-size:14px;
  width:250px;
  margin:30px auto;
  color:#a4a4a4;
  line-height:26px;
  letter-spacing:0;
  position:relative;
  font-weight:300;
}



/* Portfolio */


.portfolio{
  position:relative;
  width:100%;
  background:#ffffff;
  z-index:10;
}

.portfolio .portfolio-margin{
  position:relative;
  width:900px;
  overflow:hidden;
  margin:0 auto;
}


/* Portfolio grid */

.grid{
  margin-top:70px;
  width:100%;
  position:relative;
  margin-bottom:70px;
  overflow:hidden;
}

#portfolio svg{
  position:absolute ;
  margin-left: 1500px;
  width: 40%;
}

.grid li{
  width:285px;
  margin:0 15px 15px 0;
  float: left;
  position: relative;
  overflow: hidden;
}

.grid img{
  width:285px;
  float: left;
  position: relative;
}

.grid .text {
  position: absolute;
  width: 285px;
  height:100%;
}

.grid .text:hover {
  opacity:1;
}

.grid .no-text {
  position: absolute;
  width: 285px;
  height:100%;
}

.grid .no-text:hover {
  opacity:1;
}

.grid p {
  font-size: 18px;
  text-align:center;
  line-height:26px;
  margin-top:40px;
  font-weight: bold;
  letter-spacing:1px;
  color: #FFF;
}

.grid p.description {
  font-size: 12px;
  width:300px;
  margin-top:20px;
  text-align:center;
  line-height:20px;
  font-weight: 400;
  color: #FFF;
  position:relative;
}

.clear { 
    clear:both; 
}


/* Aplication Persentage*/
.cards{
  display: flex;
  flex-direction: column;
  width:100%;
  z-index:10;
  height:100vh;
  justify-content: center;
  /*background:url('../img/background/partners.jpg') 0px 0px fixed;*/
  background-size: cover;
}


.skilltittle{
  display: block;
  height: 200px;
  text-align: center;
}

.skilltittle h1{
  font-size:34px;
  color:black;
  margin-top:80px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

.skilltittle hr{
  color: black;
  margin-top:30px;
  background-color:black;
  height: 1px;
  width:106px;
  border:0;
}

.containers {
  height: 300px;
  width: 80%; 
  margin: auto;
  left: calc(50% - 300px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:nth-child(1):hover .filledbar {
  width: 90%;
  transition: 0.4s ease-out;
}

.card:nth-child(2):hover .filledbar {
  width: 85%;
  transition: 0.4s ease-out;
}

.card:nth-child(3):hover .filledbar {
  width: 70%;
  transition: 0.4s ease-out;
}

.card:nth-child(4):hover .filledbar {
  width: 80%;
  transition: 0.4s ease-out;
}

.card:nth-child(5):hover .filledbar {
  width: 50%;
  transition: 0.4s ease-out;
}

.card:nth-child(6):hover .filledbar {
  width: 60%;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  
}
.card:nth-child(1) .circle img {
  width: 100%;
  height: 80px;
}

.card:nth-child(2) .circle img {
  width: 100%;
  height: 80px;
}

.card:nth-child(3) .circle img {
  width: 100%;
  height: 80px;
}

.card:nth-child(4) .circle img {
  width: 100%;
  height: 80px;
}

.card:nth-child(5) .circle img {
  width: 100%;
  height: 80px;
}

.card:nth-child(6) .circle img {
  width: 100%;
  height: 80px;
}

/* Contact */

.contact{
  position:relative;
  width:100%;
  background:white;
  z-index:10;
  overflow:hidden;
  margin-bottom: 300px;  
}


.contact .content{
  position:relative;
  width:900px;
  overflow:hidden;
  margin: 60px auto 65px auto;
}

.contact h1{
  font-size:34px;
  color:black;
  text-align:center;
  margin-top:120px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

.contact hr{
  color: black;
  margin-top:30px;
  background-color: black;
  height: 1px;
  width:106px;
  border:0;
}

.contact .content .form{
  width:455px;
  overflow:hidden;
  height:auto;
  float:left;
}

.contact .content .form .column{
  width:180px;
  overflow:hidden;
  height:auto;
  float:left;
  letter-spacing:1px;
  margin-bottom:30px;
}

.contact .content .form .column-2{
  width:210px;
  padding-left:60px;
  overflow:hidden;
  height:auto;
  float:left;
  letter-spacing:1px;
  margin-bottom:30px;  
}

.contact .content .form .column-3{
  width:450px;
  overflow:hidden;
  height:auto;
  float:left;
  letter-spacing:1px;
}

.contact .content .contact-text{
  width:405px;
  overflow:hidden;
  height:auto;
  font-weight:300;
  float:left;
  padding-left:40px;
  color:black;
  font-size:14px;
  line-height:26px;
}

strong{
  font-weight:700;

}

input{

  width:180px;
  height:40px;
  background:#f8f7f7;
  border-top:1px solid #333;
  border-bottom:0;
  border-left:0;
  border-right:0;
  color:#333;
  font-weight:300;
  line-height:40px;
  padding-left:15px;
  font-family: 'Lato', sans-serif;
  font-size:14px;
  margin-bottom:10px;
}

input:focus{background:#f4f4f4;}

textarea{

  width:420px;
  height:150px;
  border-top:1px solid #333;
  border-bottom:0;
  line-height:20px;
  border-left:0;
  border-right:0;
  background:#f8f7f7;
  color:#333;
  font-weight:300;
  padding:15px 0 0 15px;
  font-family: 'Lato', sans-serif;
  font-size:14px;
  margin-bottom:10px;
}

textarea:focus{background:#f4f4f4;}


input.submit{
  width:100px;
  height:34px;
  float:right;
  margin:20px 10px 0 0;
  border:0;
  font-weight:700;
  text-align:right;
  background:none;
  -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}


.fa.fa-whatsapp{
  font-size: 50px;
  color:black;
  text-decoration: none;
}

.fa.fa-whatsapp:hover{
  color: purple;
}

.fa.fa-instagram {
  font-size: 50px;
  color:black;
  text-decoration: none;
}

.fa.fa-instagram:hover {
  color: purple;
}


.fa.fa-linkedin {
font-size: 50px;
color:black;
text-decoration: none;
}

.fa.fa-linkedin:hover{
  color: purple;
}

/* Footer */


.footer{
  position:absolute;
  bottom:0;
  border: #000 1px solid;
  width:100%;
  background:#3c3c3c;
}


.footer .menu-footer{
  width:80%;
  text-align:center;
  margin:0 auto;
  padding-top:30px;
  overflow: hidden;
  position:relative;  
}


.footer .menu-footer a{
  line-height:46px;
  padding:10px;
  color:#a4a4a4;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.footer .menu-footer a:hover{
  color:#ada074;
}


.footer .copyright{
  width:80%;
  position:relative;
  font-weight:300;
  margin:0 auto;
  padding:30px 0 50px;
  text-align:center;
  font-size:14px;
  line-height:36px;
  color:#a4a4a4;
}

